<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mbp.sushruta_v1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/sushruta_icon_white"
        android:label="Sushruta"
        android:largeHeap="true"
        android:roundIcon="@mipmap/sushruta_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mbp.sushruta_v1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>





        <activity android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->

<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
        </activity>
        <!--<activity android:name=".TestActivity" />-->
        <activity
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoctorListActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubDoctorListActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Patient_Information"
            android:label="Patient Details" />
        <!-- android:theme="@style/Theme.AppCompat.NoActionBar"/> -->
        <activity
            android:name=".Create_Patient"
            android:label="Create new Patient" />
        <activity
            android:name=".PatientList"
            android:label="List of Patients" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Test" />
        <activity
            android:name=".Documents_patients"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Webview" />
        <activity
            android:name=".ParametersList"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParameterValues"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Not_Approval_Activity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Doctor_Not_Approval_Activity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Alert"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>